



<% if @posts.any? %>
  <% @posts.each do |post| %>
    <article>
      <div class="row">
        
        <% if post.picture != nil %>
          <%= image_tag post.picture.url(:thumb) %>
          <%= link_to "#{post.caption}", post_path(post) %>
        <% end %>
        
        
      </div>
    </article>
    <% end %>
  <% else %>

    no pictures yet

  <% end %>

  <%= link_to 'add picture', new_post_path %>